@charset "utf-8";
@import url("http://127.0.0.1:91/modules/@flaticon/flaticon-uicons/css/all/all.css");

:root {
    --penn-blue: #040e47ff;
    --black: #000000ff;
    --prussian-blue: #1e293bff;
    --oxford-blue: #121b2eff;
    --medium-blue: #0023c4ff;
}

* {
    margin: 0;
    padding: 0;
}

html, 
body, 
#root,
#app {
    width: 100%;
    height: 100%;
}

#app {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 100%;
    width: 100%;
    height: 100%;
    font-size: .8rem;
    overflow: unset;
}

#app section {
    grid-row: 1;
    grid-column: 2;
    margin-top: 70px;
    overflow: auto;
}

#app a {
    color: currentColor;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 0px;
}

.content {
    flex: 1;
    padding: 20px;
    overflow: auto;
}