<!DOCTYPE html> <!-- This page at: http://www.arosteam.com/ -->
<html lang="pt" stream-app="Aro-steam">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="ARO-Stem">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="ARO-TEC">
    <meta name="description" content="O ARO-Steam é uma plataforma de estudos que apoia e colabora na educação com o STEAM"> <!-- Max 200 characters -->
    <meta name="generator" content="HTML5 Generator"> <!-- <- Review -->
    <meta name="keywords" content="Estudos, STEAM, ARO-Steam, STEM, ARO-TEC, Angola, matematica, ciencia, arte, tecnologia">
    <!-- Google Metadata -->
    <meta itemprop="name" content="ARO-Stem">
    <meta itemprop="description" content="O aro-steam é uma plataforma de estudos que apoia e colabora na educação com o STEAM"> <!-- Max 200 characters -->
    <meta itemprop="image" content="/resources/img/icon/aros-team.png"> <!-- e.g.: https://www.arosteam.com/resources/img.png -->
    <!-- Info -->
    <title>ElevaPRO</title>
    <!-- Links -->
</head>
<body>
    <div id="root"></div>
</body>
</html>